:root{
--branco: white;
--cordefundo: blue;
--fundosenha:black;
--fundodetexto: brown;
--borda: yellow;
--Bungee+Tint
--
}

body{

    color: var(--branco);
    background-color: var(--cordefundo);



}
